<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="./index.html">
        <img src="https://d1pta9xlyeo3pg.cloudfront.net/wp-content/themes/rastreatormx/img/rastreator.mx.svg" style="width: 73%;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <button role="link" (click)="goHome()" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off"><b>Inicio</b></button>
    </div>
</nav>
<br>
<div style="height: 1px; background-color:darkgray;"></div>
<form style="width: 98%; padding-right: 20px; padding-left: 20px;">
    <div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">Usuario</label>
                <label class="form-control" >{{user['username']}}</label>
            </div>
        </div>
        <h4>Datos personales</h4>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">Nombre(s)*</label>
                <label class="form-control" >{{user['nombre']}}</label>
            </div>
            <div class="col-md-4 mb-3 ">
                <label for="validationServer02">Apellido Paterno*</label>
                <label class="form-control" >{{user['ape_pat']}}</label>
            </div>
            <div class="col-md-4 mb-3 ">
                <label for="validationServer03">Apellido Materno*</label>
                <label class="form-control" >{{user['ape_mat']}}</label>
            </div>
            <div class="col-md-4 mb-3">
            <label for="validationServer03">Fecha de nacimiento</label>
            <label class="form-control" >{{user['fecha_nac']}}</label>
            <div class="form-group row">
                <label class="col-1 col-form-label"></label>
            </div>
            </div>
        </div>
        <h4>Dirección</h4>
        <div class="form-row">
            <div class="col col-lg-3">
                <label for="validationServer03">Calle*</label>
                <input class="form-control" type="text" value= "{{user['calle']}}" #calle>
            </div>
            <div class="col col-lg-2">
                <label for="validationServer03">Número ext.*</label>
                <input class="form-control" type="number" value= "{{user['numero_ext']}}" #numero_ext>
            </div>
            <div class="col-md-auto">
                <label for="validationServer03">Fraccionamiento*</label>
                <input class="form-control" type="text" value= "{{user['fraccionamiento']}}" #fraccionamiento>
            </div>
            <div class="col col-lg-3">
                <label for="validationServer03">Municipio*</label>
                <input class="form-control" type="text" value= "{{user['municipio']}}" #municipio>
            </div>
            <div class="col col-lg-3">
                <label for="validationServer03">Estado*</label>
                <input class="form-control" type="text" value= "{{user['estado']}}" #estado>
            </div>
            <div class="col-md-auto">
                <label for="validationServer03">Código postal*</label>
                <input class="form-control" type="number" value= "{{user['cp']}}" #cp>
            </div>
        </div>
        <br>
        <h4>Contacto</h4>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>Correo electrónico*</label>
                <label class="form-control" >{{user['email']}}</label>
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputEmail1">Celular*</label>
                <input class="form-control" type="number" value= "{{user['celular']}}" #celular>
            </div>
        </div>
        <div class="container">
            <label class="col-4 col-form-label"></label>
            <div class="" style="text-align: center">
                <button (click)="eliminar()" class="btn btn-outline-primary">Eliminar Cuenta</button>
                <button (click)="editar(calle.value, numero_ext.value, fraccionamiento.value, municipio.value, estado.value, cp.value, celular.value)"
                     class="btn btn-outline-primary">Editar Perfil</button>
            </div>
        </div>
        <br>
    </div>
</form>
  <!--------------------Comienza Footer-------------------->
  <footer style="background-color: #f4f4f4;">
    <div style="height: 1px; background-color:darkgray;"></div>
        <p style="text-align: center;">
            <a href="https://www.rastreator.mx/terminos-y-condiciones-de-uso"><span style="color: black;">Términos y Condiciones de Uso</span></a> <a href="https://www.rastreator.mx/aviso-de-privacidad"><span style="color: black;">Aviso de Privacidad</span></a> <a href="https://www.rastreator.mx/sitio-seguro"><span style="color: black;">Sitio Seguro</span></a> <a href="https://www.rastreator.mx/sitio-confiable"><span style="color: black;">Sitio Confiable</span></a>
        </p>
    <div style="height: 1px; background-color:darkgray;"></div>
    </footer>