.html {
    min-height: 100%;
    position: relative;
}

.body {
    background-image: url(http://house-net.lightbox.mx/imagenes/textu-blanca-grande.jpg);
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.p {
    font: Roboto;
    font-style: normal;
}

.card {
    background: transparent;
}

.card-body {
    padding: 0px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.card-img-top {
    padding: 24px;
    background: transparent;
}

.float-left>h1,
h2,
h3,
h4,
h5 {
    padding-left: 20px;
}

.form-group>.form-control {
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.button-recorrido {
    margin-left: 50%;
    transform: translateX(-50%);
    color: red;
}

.form-row {
    padding-left: 40px;
}

.form-check {
    margin-left: 20px;
}

.form-row>.col-md-auto {
    margin-right: 20px;
}

.col-md-4.mb-3>.form-control {
    margin-left: 50%;
    transform: translateX(-50%);
}

.col-6.col-md-4>.form-control {
    margin-left: 50%;
    transform: translateX(-50%);
}

.col-6 {
    margin-left: 20px;
}

.footer {
    position: relative;
    background-color: red;
    bottom: 0;
    width: 100%;
}

.form-ingresa {
    border: 2px solid;
    border-color: red;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media screen and (min-device-width: 1025px) {
    .float-left {
        width: 20%;
    }
    .car {
        transform: translateY(10%);
    }
    .form-ingresa {
        width: 50%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .float-left {
        width: 26%;
    }
    .car {
        transform: translateY(30%);
    }
    .form-ingresa {
        width: 70%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .float-left {
        width: 100%;
    }
    .car {
        transform: translateY(10%);
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}