<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b><font style="color: red;"> HOUSE NET </font></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/home'"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'"> Login </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <font style="color: red;"> Sign up </font>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/owner'">
                            <font style="color: red;"> Owner </font>
                        </a>
                        <a class="dropdown-item" [routerLink]="'/customer'"> Customer </a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
        <div *ngIf="logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> My profile <span  class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> Logout <span  class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--------------------Termina Navbar--------------------->

    <h2 style="padding-top: 20px; text-align: center; ">
        <font style="color: red;"> SIGN UP OWNER </font>
    </h2>
    <form style="width: 98%" [formGroup]="forma">
        <div>
            <h4 style="padding-top: 20px;">Data for your account</h4>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">User*</label>
                    <input type="text" class="form-control" formControlName="user" maxlength="16" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleInputPassword1">Password*</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleInputPassword1">Confirm password*</label>
                    <input type="password" class="form-control" formControlName="password2">
                </div>
            </div>
            <h4>Personal information</h4>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">Name(s)*</label>
                    <input type="text" class="form-control" formControlName="nombres">
                </div>
                <div class="col-md-4 mb-3 ">
                    <label for="validationServer02">Last name*</label>
                    <input type="text" class="form-control " formControlName="apePat">
                </div>
                <div class="col-md-4 mb-3 ">
                    <label for="validationServer03">Second last surname</label>
                    <input type="text" class="form-control" formControlName="apeMat">
                </div>
            </div>
            <h4>Direction</h4>
            <div class="form-row">
                <div class="col col-lg-3">
                    <label for="validationServer03">Street*</label>
                    <input type="text" class="form-control" formControlName="calle">
                </div>
                <div class="col col-lg-2">
                    <label for="validationServer03">Number*</label>
                    <input type="number" class="form-control" formControlName="numExt" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col col-lg-2">
                    <label for="validationServer03">Int num.</label>
                    <input type="text" class="form-control" formControlName="numInt" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col-md-auto">
                    <label for="validationServer03">Division*</label>
                    <input type="text" class="form-control" style="width: 90%" formControlName="fraccionamiento">
                </div>
                <div class="col col-lg-3">
                    <label for="validationServer03">City*</label>
                    <input type="text" class="form-control" style="width: 90%" formControlName="municipio">
                </div>
                <div class="col col-lg-3">
                    <label for="validationServer03">Country*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="estado">
                        <option *ngFor="let estado of estados;" [selected]=""> {{ estado.nombre }} </option>
                    </select>
                </div>
                <div class="col-md-auto">
                    <label for="validationServer03">Zip code</label>
                    <input type="number" class="form-control" style="width: 40%" formControlName="codPostal" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
            </div>
            <br>
            <h4>Contact</h4>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Email*</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleInputEmail1">Confirm email*</label>
                    <input type="email" class="form-control" formControlName="email2">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleInputEmail1">Cell phone*</label>
                    <input type="number" class="form-control" formControlName="telefono" maxlength="10" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <small id="emailHelp" class="form-text text-muted" style="padding-left: 10px;">We will never share your email.</small>
            </div>
            <h4><br>Card information</h4>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Card*</label>
                    <input type="number" class="form-control" formControlName="numTarjeta" maxlength="16" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col col-lg-1">
                    <label for="validationServer03">mm*</label>
                    <select class="form-control" id="sel2" style="width: 90%; color:rgb(103, 104, 104)" formControlName="vencimientoMM">
                        <option *ngFor="let vencimientoMM of vencimientoMes;" [selected]=""> {{ vencimientoMM.mes }} </option>
                    </select>
                </div>
                <div class="col col-lg-1">
                    <label for="validationServer03">yy*</label>
                    <select class="form-control" id="sel3" style="width: 90%; color:rgb(103, 104, 104)" formControlName="vencimientoAA">
                        <option *ngFor="let vencimientoAA of vencimientoAnio;" [selected]=""> {{ vencimientoAA.anio }} </option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label>CVV<br></label>
                    <input type="number" class="form-control" formControlName="cvv" maxlength="3" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <small id="emailHelp" class="form-text text-muted" style="padding-left: 10px;">We will never share your card information.</small>
            </div>

            <div class="form-group">
                <div class="form-check">
                    <br><input class="form-check-input" type="checkbox" id="invalidCheck3" formControlName="checkbox">
                    <label class="form-check-label" for="invalidCheck3">
                            I agree with the <a target="_blank " href="../terminos/terminos-dueno.html">terms & conditions</a>
                        </label>
                    <div class="invalid-feedback">
                        You must accept before sending.
                    </div>
                </div>
            </div>
            <button class="button-recorrido" (click)="findUser()" [disabled]="forma.invalid || forma.pristine">Create account</button>
        </div>
    </form>
    <br><br>

    <!--------------------Comienza Footer-------------------->
    <footer class="footer ">
        <div class="footer-copyright text-center py-3 ">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/ "><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
    <!-------------------Termina Footer----------------------->
</body>

</html>