<!DOCTYPE html>
<html lang="es" class="html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    </nav>
    <!--------------------Termina Navbar--------------------->
    <h2 style="padding-top: 20px; padding-bottom: 20px; color: red; text-align: center;">ACCOUNT RECOVERY</h2>
    <div class="car">
        <div class="card">
            <div class="card-body">
                <form class="form-ingresa" [formGroup]="forma">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" style="margin: 0 auto;">
                    </div>
                    <button id="login" type="submit" (click)="findUser()" [disabled]="forma.invalid || forma.pristine" class="button-recorrido" style="margin-left: 0%; transform: translateX(0%);">Send</button>
                </form>
            </div>
        </div>
    </div>

    <!--------------------Comienza Footer-------------------->
    <footer class="footer" style="position: fixed;">
        <div class="footer-copyright text-center py-3">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/ "><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
    <!-------------------Termina Footer----------------------->

</body>

</html>