<!DOCTYPE html>
<html lang="es" class="html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
            <font style="color: red;">HouseNet</font>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/home'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">
                        <font style="color: red;">Login</font><span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign up</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/owner'">Owner</a>
                        <a class="dropdown-item" [routerLink]="'/customer'">Customer</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-1 my-sm-0" type="submit" style="color: red;">Search</button>
            </form>
        </div>
    </nav>
    <!--------------------Termina Navbar--------------------->
    <h2 style="padding-top: 20px; padding-bottom: 20px; color: red; text-align: center;">Login</h2>
    <div class="car">
        <div class="card">
            <div class="card-body">
                <form class="form-ingresa" [formGroup]="forma">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" style="margin: 0 auto;" formControlName="email">
                        <span *ngIf="forma.controls['email'].errors?.pattern" class="form-control-feedback" style="color:red">
                            Invalid email.
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" style="margin: 0 auto;" formControlName="password">
                    </div>
                    <div class="form-group">
                        <a [routerLink]="'/account-recovery'">Account recovery</a>
                    </div>
                    <button id="login" type="submit" (click)="findUser()" [disabled]="forma.invalid || forma.pristine" class="button-recorrido" style="margin-left: 0%; transform: translateX(0%);">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!--------------------Comienza Footer-------------------->
    <footer class="footer" style="position: fixed;">
        <div class="footer-copyright text-center py-3">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/ "><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
    <!-------------------Termina Footer----------------------->

</body>

</html>