*{
    box-sizing: border-box;
}
.nav{
    position:relative;
    top:60px;
    width:80%;
}
.menu-link{
    display:block;
    padding: 20px;
    background: gray;
    text-decoration: none;
    color:azure;
    border-bottom: solid 2px white;
}
.menu-link:hover,.select{
    background: blue;
    color: black;
}
nav a:hover{
    background: rgba(0,200,0,0.5);
}
nav li{
    line-height: 5px;
    position: relative;
}
.menu ul{
    position: absolute;
}
.menu{
    display: table;
    width: 100%;
}
nav>ul>li{
    float: left;
}
nav li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s easy .2s;
}
nav li:hover > ul > li{
    max-height: 1000px;
    overflow: visible;
}
.menu ul ul{
    left: 100%;
    top: 0;
}
ul li ul li{
    display: block;
}
.menu{
    display: flex;
}
.menu-link{
    background: rgba(0,0,0,0.3);
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px aqua;
}
.select{
    color: #0ff;
    background: #FBA919;
}
nav ul{
    list-style:none;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: #ddd;
    padding: 0 5;
    display: block;
    transition: 0.5s;
    width: 150px;
    text-align: center;
}