<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b><font style="color: red;"> HOUSE NET </font></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/home'"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'"> Login </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sign up </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/owner'"> Owner </a>
                        <a class="dropdown-item" [routerLink]="'/customer'"> Customer </a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
        <div *ngIf="logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> My profile <span  class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> Logout <span  class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 style="padding-top: 20px; color: red; text-align: center; ">CONTRATO DE ARRENDAMIENTO</h2>
    <br>
    <div style="width: 60%; margin-left: 50%; transform: translateX(-50%);">
        <h6 style="padding-top: 20px;"><b>CONTRATO DE ARRENDAMIENTO</b> QUE CELEBRAN POR UNA PARTE, <b>NOMBRE ARRENDADOR</b>, A QUIEN EN LO SUCESIVO SE LES DENOMINARA EL <b>“ARRENDADOR”</b> Y DE LA OTRA PARTE, LA EMPRESA DENOMINADA <b>“HOUSE-NET”</b>, COMO INTERMEDIARIO, TAMBIÉN LA
            PERSONA QUE GOZARÁ LOS DERECHOS POR EL TIEMPO SOLICITADO, <b>NOMBRE ARRENDATARIO</b>, A QUIEN EN LO SUCESIVO SE LE DENOMINARA EL “ARRENDATARIO”; AL TENOR DE LAS SIGUIENTES DECLARACIONES:
        </h6>
        <h5 style="padding-top: 20px; color: red; text-align: center; ">DECLARACIONES</h5>
        <p>1. El “ARRENDADOR” <b>DECLARA</b> que: </p>
        <div style="padding-left: 20px;">
            <p>A) Es persona física, con capacidad jurídica para arrendar bienes inmuebles.</p>
            <p>B) Es legítima propietaria del <b>INMUEBLE</b> ubicado en <b>DIRECCIÓN</b>, con las ESPECIFICACIONES MOSTRADAS EN LA WEB "HOUSE-NET".</p>
            <p>C) El objeto del presente contrato de arrendamiento lo es el bien inmueble antes descrito.</p>
            <p>D) Tiene la libre disponibilidad sobre el local comercial materia de este Contrato, sin limitaciones ni responsabilidades de naturaleza civil, mercantil, física o laboral de ninguna índole.</p>
            <p>E) Es deseo dar en arrendamiento el mismo local comercial, con sujeción a los términos y condiciones contenidas en este documento.</p>
            <p>F) El contrato en turno comienza a contar desde el mismo día en que se estipula y firma este contrato.</p>
        </div>
        <p>2. El "ARRENDATARIO", <b>DECLARA</b> que:</p>
        <div style="padding-left: 20px;">
            <p>A) Conoce perfectamente el local comercial objeto del presente Contrato.</p>
            <p>B) Desea celebrar este arrendamiento con el fin de que se le otorgue el uso del local comercial arrendado por un período de <b>TIEMPO</b>, a partir de la firma del presente contrato, así mismo, declarar que se tiene que pagar 2 meses de anticipo
                de lo de la renta del inmueble, el cual tiene el precio por mes de <b>$PRECIO</b>.</p>
            <p>C) Su representada es una persona jurídica debidamente constituida conforme a la legislación aplicable.</p>
        </div>
        <button class="button-recorrido" (click)="generatePdf()">Imprimir contrato</button>
        <br><br>
        <form>
            <div class="form-group">
                <input type="file" class="form-control-file">
            </div>
        </form>
        <button type="file" class="button-recorrido" (click)="enviar()">Subir contrato firmado</button>
        <br><br>
    </div>

    <!--------------------Comienza Footer-------------------->
    <footer class="footer ">
        <div class="footer-copyright text-center py-3 ">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/ "><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
    <!-------------------Termina Footer----------------------->
</body>

</html>