
    <form [formGroup]="forma" style="width: 98%; padding-right: 20px; padding-left: 20px;">
        <div>
            <h2 style="padding-top: 20px; color: #007bff; text-align: center; ">COTIZAR</h2>
            <br>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">Tipo*</label>
                    <select [(ngModel)]="vehiculo.tipo" class="form-control" style="color:rgb(103, 104, 104)" formControlName="tipo" #tipo>
                        <option *ngFor="let tipo of tipos"  [value]="tipo.cod"> {{ tipo.nombre }} </option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="exampleInputPassword1">Marca*</label>
                    <select [(ngModel)]="vehiculo.marca" class="form-control" style="color:rgb(103, 104, 104)" formControlName="marca" #marca>
                        <option *ngFor="let marca of marcas"  [value]="marca.cod"> {{ marca.nombre }} </option>
                    </select>
                </div>
                <div class="col-md-1 mb-3">
                    <label for="exampleInputPassword1">Año*</label>
                    <select [(ngModel)]="vehiculo.year" class="form-control" style="color:rgb(103, 104, 104)" formControlName="year" #year>
                        <option *ngFor="let year of years"  [value]="year.cod"> {{ year.nombre }} </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer01">Modelo*</label>
                    <input class="form-control" 
                    type="text" 
                    placeholder="Tsuru" 
                    formControlName="modelo" #modelo>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationServer02">¿Acabas de comprarlo?</label>
                    <select [(ngModel)]="vehiculo.dec" class="form-control" style="color:rgb(103, 104, 104)" formControlName="dec" #dec>
                        <option *ngFor="let dec of decs"  [value]="dec.cod"> {{ dec.nombre }} </option>
                    </select>
                </div>
                <div class="col-md-4 mb-3 ">
                    <label for="validationServer03">¿Quién conduce el vehículo?</label>
                    <select [(ngModel)]="vehiculo.conductor" class="form-control" style="color:rgb(103, 104, 104)" formControlName="conductor" #conductor>
                        <option *ngFor="let conduce of conductores"  [value]="conduce.cod"> {{ conduce.nombre }} </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-2 mb-3">
                    <br>
                    <label for="validationServer03">Tipo de seguro</label>
                    <select [(ngModel)]="vehiculo.seguro" class="form-control" style="color:rgb(103, 104, 104)" formControlName="seguro" #seguro>
                        <option *ngFor="let seguro of seguros"  [value]="seguro.cod"> {{ seguro.nombre }} </option>
                    </select>
                </div>
            </div>
            <br>
            <div class="" style="text-align: center;">
                <button (click)="cotizar()" [disabled]="forma.invalid || forma.pristine" class="btn btn-outline-primary">cotizar</button>
            </div>
        </div>
    </form>
    <br><br>

    <footer style="background-color: #f4f4f4;">
        <div style="height: 1px; background-color:darkgray;"></div>
            <p style="text-align: center;">
                <a href="https://www.rastreator.mx/terminos-y-condiciones-de-uso"><span style="color: black;">Términos y Condiciones de Uso</span></a> <a href="https://www.rastreator.mx/aviso-de-privacidad"><span style="color: black;">Aviso de Privacidad</span></a> <a href="https://www.rastreator.mx/sitio-seguro"><span style="color: black;">Sitio Seguro</span></a> <a href="https://www.rastreator.mx/sitio-confiable"><span style="color: black;">Sitio Confiable</span></a>
            </p>
        <div style="height: 1px; background-color:darkgray;"></div>
    </footer>
