<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">
                <font style="color: red;">HouseNet</font>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div *ngIf="!logged" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/home'"><font style="color: red;">Home</font></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="'/login'">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign up</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" [routerLink]="'/owner'">Owner</a>
                            <a class="dropdown-item" [routerLink]="'/customer'">Customer</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-danger my-1 my-sm-0" type="submit" style="color: red;">Search</button>
                </form>
            </div>
            
        <div *ngIf="logged" class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul  class="navbar-nav mr-auto">
                    <li  class="nav-item active">
                        <a  class="nav-link" role="button" href="#" (click)="logout()" > My profile <span  class="sr-only">(current)</span></a>
                    </li>
                    <li  class="nav-item active">
                        <a  class="nav-link" role="button" href="#" (click)="logout()" > Logout <span  class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>


    <!--------------------Termina Navbar--------------------->

    <div class="card bg-dark text-white">
        <img src="http://house-net.lightbox.mx/imagenes/prueba-casa.jpg" class="img-fluid">
    </div>

    <!-- Inicia buscador  -->
    <div class="float-left">
        <h3 style="padding-top: 20px; padding-bottom: 20px; color: red;">Find the best stay for you...</h3>
        <form [formGroup] = "forma">
            <div class="form-group">
                <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="estado">
                    <option *ngFor="let estado of estados"  [selected]="estado.nombre">{{ estado.nombre }}</option>
                </select>
            </div>
            <h4>Rooms</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="numHabitaciones" value="1" formControlName="numHabitaciones" checked>
                <label class="form-check-label" for="exampleRadios1">2 or less</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="numHabitaciones" value="2" formControlName="numHabitaciones">
                <label class="form-check-label" for="exampleRadios2"> 3 to 4</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="numHabitaciones" value="3" formControlName="numHabitaciones">
                <label class="form-check-label" for="exampleRadios3"> 5 or more</label>
            </div>

            <br>
            <h4>Bathrooms</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bano" value="1" formControlName="bano" checked>
                <label class="form-check-label" for="exampleRadios1"> 1</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bano" value="1.5" formControlName="bano">
                <label class="form-check-label" for="exampleRadios2"> 1 1/2</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bano" value="2" formControlName="bano">
                <label class="form-check-label" for="exampleRadios3"> 2</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bano" value="2.5" formControlName="bano">
                <label class="form-check-label" for="exampleRadios3"> 2 1/2</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="bano" value="3" formControlName="bano">
                <label class="form-check-label" for="exampleRadios3"> 3 or more</label>
            </div>

            <br>
            <h4>Rental time</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tiempo" value="1" formControlName="tiempo" checked>
                <label class="form-check-label" for="exampleRadios1"> 1 to 6 months</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tiempo" value="2" formControlName="tiempo">
                <label class="form-check-label" for="exampleRadios2"> 6 to 1 year</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tiempo" value="3" formControlName="tiempo">
                <label class="form-check-label" for="exampleRadios3"> 1 to 2 years</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="tiempo" value="4" formControlName="tiempo">
                <label class="form-check-label" for="exampleRadios3"> 2 or more years</label>
            </div>

            <br>
            <div class="form-group">
                <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="tipo">
                    <option *ngFor="let tipo of tipos"  >{{ tipo.nombre }}</option>
                </select>
            </div>

            <h4>Amount</h4>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mensualidad" value="1" formControlName="mensualidad">
                <label class="form-check-label" for="exampleRadios1"> $0 - $5,000</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mensualidad" value="2" formControlName="mensualidad">
                <label class="form-check-label" for="exampleRadios2"> $5,000 - $10,000</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mensualidad" value="3" formControlName="mensualidad">
                <label class="form-check-label" for="exampleRadios3"> $10,000 - $20,000</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="mensualidad" value="4" formControlName="mensualidad">
                <label class="form-check-label" for="exampleRadios3"> $20,000 or more</label>
            </div>
            <br><button type="submit"  (click)="buscar()" style="color: red;">Search</button>
        </form>
        <br>
    </div>
    <!-- Termina buscador  -->
    <br><br><br>
    <div style="width:100%">
        <!--<h2 style="padding-top: 20px; padding-bottom: 20px; color: red; text-align: center;">ALGUNAS DE NUESTRAS PROPIEDADES</h2>-->
        <div class="card-group">
            <div class="card"  *ngFor="let casa of array | paginate: {itemsPerPage: 3, currentPage: page} ">
                <a target="_blank" href={{casa.url}}><img src={{casa.icon}} class="card-img-top " alt="... "></a>
                <div class="card-body ">
                    <h6 class="card-text ">
                        <font color="red">Address:</font> {{casa.calle}} #{{casa.num}} {{casa.colonia}} C.P. {{casa.cp}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Flats:</font> {{casa.pisos}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Rooms:</font> {{casa.numHabitaciones}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Bathrooms:</font> {{casa.bano}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Garden:</font> {{casa.jardin}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Swimming pool:</font> {{casa.piscina}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Garage:</font> {{casa.garage}}</h6>
                    <h6 class="card-text ">
                        <font color="red ">Rental time:</font> {{casa.tiempo}} meses</h6>
                    <h6 class="card-text ">
                        <font color="red">kind of ownership:</font> {{casa.tipo}}</h6>
                    <h6 class="card-text ">
                        <font color="red">Price:</font> ${{casa.mensualidad}} (monthly mxn)</h6>
                    <h6><a target="_blank" href="http://casahab2.cursosmarketing.mx/"><button type="button" class="button-recorrido" style="color: red;">Ver recorrido</button></a></h6>
                    <h6><a href=""><button type="button" class="button-recorrido">Rent it</button></a></h6>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- contenedor inferior resultados -->
    <br><br>

    <pagination-controls (pageChange)="page = $event"></pagination-controls>

    <!-- termina contenedor inferior resultados -->
    <footer class="footer ">
        <div class="footer-copyright text-center py-3 ">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/ "><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
</body>







</html>