<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>House Net - Casa a tu alcance</title>
</head>

<body class="body">

    <!--------------------Comienza Navbar--------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b><font style="color: red;"> HOUSE NET </font></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span  class="navbar-toggler-icon"></span>
        </button>
        <div *ngIf="!logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/home'"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'"> Login </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sign up </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="'/owner'"> Owner </a>
                        <a class="dropdown-item" [routerLink]="'/customer'"> Customer </a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
        <div *ngIf="logged" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> My profile <span  class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" role="button" href="#" (click)="logout()"> Logout <span  class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--------------------Termina Navbar--------------------->

    <h2 style="padding-top: 20px; text-align: center; ">
        <font style="color: red;"> REGISTER PROPERTY </font>
    </h2>
    <form style="width: 98%" [formGroup]="forma">
        <div>
            <h4>Address</h4>
            <div class="form-row">
                <div class="col col-lg-3">
                    <label for="validationServer03">Street*</label>
                    <input type="text" class="form-control" formControlName="calle">
                </div>
                <div class="col col-lg-2">
                    <label for="validationServer03">Number*</label>
                    <input type="number" class="form-control" formControlName="num" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col-md-auto">
                    <label for="validationServer03">Division*</label>
                    <input type="text" class="form-control" style="width: 90%" formControlName="colonia">
                </div>
                <div class="col col-lg-3">
                    <label for="validationServer03">State*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="estado">
                        <option *ngFor="let estado of estados;" [selected]=""> {{ estado.nombre }} </option>
                    </select>
                </div>
                <div class="col-md-auto">
                    <label for="validationServer03">Zip code</label>
                    <input type="number" class="form-control" style="width: 40%" formControlName="cp" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
            </div>
            <h4 style="padding-top: 20px;">Data for the house</h4>
            <div class="form-row">
                <div class="col col-sm-1">
                    <label for="validationServer03">Rooms*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="numHabitaciones">
                        <option *ngFor="let room of rooms;" [selected]=""> {{ room.num }} </option>
                    </select>
                </div>
                <div class="col col-sm-1">
                    <label for="validationServer03">Bathrooms*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="bano">
                        <option *ngFor="let bathroom of bathrooms;" [selected]=""> {{ bathroom.num }} </option>
                    </select>
                </div>
                <div class="col col-sm-1">
                    <label for="validationServer03">Floors*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="pisos">
                        <option *ngFor="let floor of floors;" [selected]=""> {{ floor.num }} </option>
                    </select>
                </div>
                <div class="col col-sm-1">
                    <label for="validationServer03">Pool*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="piscina">
                        <option *ngFor="let pool of tf;" [selected]=""> {{ pool.bool }} </option>
                    </select>
                </div>
                <div class="col col-sm-1">
                    <label for="validationServer03">Garage*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="garage">
                        <option *ngFor="let garage of tf;" [selected]=""> {{ garage.bool }} </option>
                    </select>
                </div>
                <div class="col col-sm-1">
                    <label for="validationServer03">Garden*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="jardin">
                        <option *ngFor="let garden of tf;" [selected]=""> {{ garden.bool }} </option>
                    </select>
                </div>
                <div class="col col-sm-2">
                    <label for="validationServer03">Type*</label>
                    <select class="form-control" id="sel1" style="width: 90%; color:rgb(103, 104, 104)" formControlName="tipo">
                        <option *ngFor="let type of typeHouse;" [selected]=""> {{ type.option }} </option>
                    </select>
                </div>
                <div class="col col-sm-2">
                    <label for="validationServer03">Rental price per month ($)</label>
                    <input type="number" class="form-control" formControlName="mensualidad" maxlength="7" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);">
                </div>
                <div class="col col-sm-2">
                    <label for="validationServer03">Meses a rentar*</label>
                    <input type="number" class="form-control" maxlength="2" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0,this.maxLength);" formControlName="tiempo">
                </div>
            </div>
            <br>
            <small id="emailHelp" class="form-text text-muted" style="padding-left: 10px;">Remember that you would have already accepted the terms and conditions, which stipulate the commission generated for House-Net, Conditions of Use, etc..</small>
            <br><br>
            <button class="button-recorrido" (click)="add()" [disabled]="forma.invalid || forma.pristine">Register</button>
        </div>
    </form>
    <br><br>

    <!--------------------Comienza Footer-------------------->
    <footer class="footer ">
        <div class="footer-copyright text-center py-3 ">
            <b><font color="white ">All rights reserved<br>© 2019 Copyright</font></b>
            <a href="http://house-net.lightbox.mx/"><b><font color="black "> HouseNet</font></b></a>
        </div>
    </footer>
    <!-------------------Termina Footer----------------------->
</body>

</html>